<% provide(:title, "About Me") %>

<h2>About Me</h2>
<p>
I am a passionate learner and recently completed an intensive and immersive
web development program with Dev Bootcamp. There I learned all aspects
of full stack web development which included Ruby, Rails and Javascript, data structures and algorithms with an emphasis on team dynamics and pair programming. I am also familiar with programming languages such as Java, C# and Visual Basic. Most recently I have focused my attention to D3.js, a Javascript library used to create and manipulate graphical displays based on data.
</p>
<p>
In addition to web development, I am an avid maker/builder. I enjoy creating models in programs like AutoDesk Inventor, AutoCAD and Google Sketchup and turning them into real life models through 3D printing and CNC. I designed and built a working cnc wood mill which I now use to make pieces of furniture and other projects.
</p>
<p>
<strong><h4>Technical Skills:</h4></strong>
	<ul>
		<li><strong>Programming Languages:</strong> Ruby, JavaScript, familiar: Java, C#, Visual Basic</li>
		<li><strong>Web Development:</strong> React.js, AJAX, HTML5, CSS3, jQuery</li>
		<li><strong>Technologies:</strong> Rails, Node, Express, Sinatra, D3.js</li>
		<li><strong>Development Methodologies:</strong> Agile, Pair Programming</li>
		<li><strong>Other:</strong> Autodesk Inventor, AutoCAD, Google Sketchup, 3D printing, cnc machining/routing</li>
	</ul>
</p>
