<div class="container" id="topo-map"  >
	<div class="row">
		<div class="col-md-12">
			<h2 class="page-header">3D Topo Map</h2>
		</div>
	</div>


	<div class="row">
		<div class="col-md-6">
			<%= image_tag("topo_map/Annadel_map.png", class: "img-responsive", alt: "Topo image of Annadel State Park")%>
		</div>

		<div class="col-md-6">
			<h2>Project Description</h2>
				<p>This project was created using Fusion 360. I used an overlay of a map image of Annadel State park, traced over the contour lines and extruded them to their scaled elevations. The next step for this project is to CNC the model from a block of wood.</p>

			<h2>Tools Used</h2>
			<ul>
				<li>AutoDesk Fusion 360</li>
				<li>Rostock Max Delta 3d Printer</li>
			</ul>

		</div>
	</div>

	<!-- Related Projects Row -->
	<div class="row">
		<div class="col-md-12">
			<h4 class="page-header">Project Photos</h4>
		</div>
	</div><!-- /.row -->


	<div class="row">

		<div class="col-md-4 col-xs-4">
			<figure>
				<%= image_tag("topo_map/Annadel_model6.JPG", class: "img-responsive", alt: "Annadel Model")%>
				<figcaption>Annadel State Park 3D Model (Image 1)</figcaption>
			</figure>
		</div>

		<div class="col-md-4 col-xs-4">
			<figure>
				<%= image_tag("topo_map/Annadel_model4.JPG", class: "img-responsive", alt: "Annadel Model")%>
				<figcaption>Annadel State Park 3D Model (Image 2)</figcaption>
			</figure>
		</div>

		<div class="col-md-4 col-xs-4">
			<figure>
				<%= image_tag("topo_map/Annadel_model1.JPG", class: "img-responsive", alt: "Annadel Model")%>
				<figcaption>Annadel State Park 3D Model (Image 3)</figcaption>
			</figure>
		</div>

	</div><!-- /.row -->
</div>





